/ Left side column. contains the sidebar
%aside.main-sidebar
  / sidebar: style can be found in sidebar.less
  %section.sidebar
    - if false #user_signed_in?
      .user-panel
        .pull-left.image
          = image_tag "https://robohash.org/#{current_user.email}.jpg?size=160x160&bgset=bg1", class: 'img-circle'
        .info.pull-left
          %p= current_user.name
          = link_to 'sign out', destroy_user_session_path, method: :delete
    / sidebar menu: : style can be found in sidebar.less
    %ul.sidebar-menu
      / User menu
      %li.header MAIN NAVIGATION
      %li
        %a{:href => root_path }
          %i.fa.fa-dashboard
          %span Dashboard

      - if can? :read, Skill
        %li.treeview{ class: active_menu(:skills) }
          %a{href:'#'}
            %i.fa.fa-list
            Skills
            %i.fa.fa-angle-left.pull-right
          %ul.treeview-menu
            %li
              %a{:href => skills_path }
                %i.fa.fa-circle-o.text-aqua
                %span All skills
            %li
              %a{:href => your_skills_path }
                %i.fa.fa-circle-o.text-green
                %span Your skills
            %li
              %a{:href => recommended_skills_path }
                %i.fa.fa-circle-o.text-yellow
                %span Recommended skills
            - if ! @new_skills.blank? && @new_skills.count > 0
              %li
                %a{:href => recent_skills_path }
                  %i.fa.fa-circle-o.text-red
                  %span Newly added
                  - if !@new_skills.blank? && @new_skills.count > 0
                    %span.label.label-primary.pull-right= @new_skills.count

      / Admin menu
      - if user_signed_in? && (current_user.admin? || current_user.team_leader? )
        %li.header ADMINISTRATION
        - if can? :read, User
          %li
            %a{href: admin_users_path}
              %i.fa.fa-user
              %span Staff

        - if can? :read, Team
          %li.treeview{ class: active_menu(:skills) }
            %a{href:'#'}
              %i.fa.fa-users
              Teams
              %i.fa.fa-angle-left.pull-right
            %ul.treeview-menu
              %li
                %a{href: admin_teams_path}
                  %i.fa.fa-circle-o.text-aqua
                  %span All teams
              - @team_names.each do |team|
                - if can? :read, team
                  %li
                    %a{:href => admin_team_path(team) }
                      %i.fa.fa-circle-o.text-yellow
                      %span= team.name

        - if can? :read, Skill
          %li
            %a{href: admin_skills_path}
              %i.fa.fa-certificate
              %span Skills
  / /.sidebar
