- content_for :content_header do
  %h1 Dashboard

.row
  -# Skill tags
  .col-md-6
    - if ! @new_skills.blank?
      .small-box.bg-orange
        .inner
          %h3= @new_skills.count
          %p
            = 'New skill'.pluralize( @new_skills.count )
            added since you last signed in
        .icon
          %i.fa.fa-check-circle
        %a.small-box-footer{ href: recent_skills_path }
          More info
          %i.fa.fa-arrow-circle-right

    .box.box-primary
      .box-header.with-border
        %h3.box-title Your skill list
      .box-body
        %p
          - if ! current_user.claims.empty?
            - current_user.claims.sort{ |a,b| a.skill.name <=> b.skill.name}.each do |claim|
              = render partial: 'claim_tag', locals: {claim: claim}
          - else
            You have not added any skills yet
      .box-footer.center
        %a.center{ href: your_skills_path }
          View

    .box.box-success
      .box-header.with-border
        %h3.box-title Your recommended skills
      .box-body
        %p
          - claimed_skills = current_user.skills_claimed
          - if ! @recommended_skills.empty?
            - @recommended_skills.each do |skill|
              = render partial: 'recommended_skill_tag', locals:{ user: current_user, skill: skill, user_skills: claimed_skills }
          - else
            You do not have any recommended skills
      .box-footer.center
        %a.center{ href: recommended_skills_path }
          View

  -# Claims bar chart
  .col-md-6
    .box.box-primary
      .box-header.with-border
        %h3.box-title Expertise breakdown
      .box-body
        .chart
          %canvas#claims-bar-chart{ style: 'height: 230px; width: 530px;' }

= render partial: 'claims-bar-chart', formats: [:js], locals: {claims: @claims}
