%p.login-box-msg
  Sign in to start your session

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-group.has-feedback
    = f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control'
    %span.fa.fa-envelope.form-control-feedback

  .form-group.has-feedback
    = f.password_field :password, autocomplete: 'off', placeholder: 'Password', class: 'form-control'
    %span.fa.fa-lock.form-control-feedback

  .row
    .col-xs-8
      .form-group.has-feedback
        .checkbox
          - if devise_mapping.rememberable?
            %label
              = f.check_box :remember_me
              Remember Me
              %small for two weeks
    .col-xs-4
      %button.btn.btn-primary.btn-block.btn-flat{:type => "submit"} Sign In

= render "devise/shared/links"
