%tr{ id: skill.id }
  %td= skill.name
  %td
    %small.text-muted= skill.description
  %td= skill.users.count
  %td
    .btn-group.btn-fill
      %a{class: "btn btn-sm btn-default dropdown-toggle btn-fill #{skill.used_by?(team) ? 'bg-green' : nil}", 'data-toggle': 'dropdown'}
        - if( skill.used_by? team )
          Assigned
        - else
          Unassigned
        %span.caret
      %ul.dropdown-menu.pull-right
        %li.dropdown-header
          = skill.name
        %li.divider{role: 'separator'}
        - if( skill.used_by? team )
          %li
            = link_to '<i class="fa fa-minus-square"></i>Remove from team'.html_safe, admin_team_skill_path( team, skill ) , method: :delete, remote: true
        - else
          %li
            = link_to '<i class="fa fa-plus-square"></i>Add to team'.html_safe, admin_team_skill_path( team, skill ), method: :put, remote: true
