= content_for :content_title do
  .dropdown
    .dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
      = @user.name
      %span.caret
    %ul.dropdown-menu
      %li
        %a{ href: edit_admin_user_path(@user) }
          %i.fa.fa-pencil-square
          Edit
      %li
        = link_to admin_user_path(@user), method: :delete, data: {confirm: "Are you sure you want to delete member of staff '#{@user.name}'?"} do
          %i.fa.fa-trash
          Delete

.row
  / Teams
  .col-md-6
    .box.box-success
      .box-header.with-border
        %h4.box-title
          Skills
      .box-body.table-response
        - if ! @claims.blank?
          %table.table
            %thead
              %tr
                %th Skill
                %th Expertise
            %tbody
              - @claims.each do |claim|
                %tr
                  %td= link_to claim.skill.name, admin_skill_path( claim.skill )
                  %td= claim.level.to_s.humanize
        - else
          %p
            = @user.name
            has not claimed any skills.

    .box.box-warning
      .box-header.with-border
        %h4.box-title
          Teams
      .box-body.table-response
        - if ! @teams.blank?
          %table.table
            %thead
              %tr
                %th Team
                %th Match
            %tbody
              - @teams.each do |team|
                %tr
                  %td= link_to team.name, admin_team_path( team )
                  %td= render partial: 'shared/skill_match', locals: {user: @user, skills: team.skills}
        - else
          %p
            = @user.name
            is not assigned to any teams.

  / Skills
  .col-md-6
    / Claims bar chart
    .box.box-primary
      .box-header.with-border
        %h3.box-title Expertise breakdown
      .box-body
        .chart
          %canvas#claims-bar-chart{ style: 'height: 230px; width: 530px;' }
          / render claims JS at foot of page

= render partial: 'shared/claims-bar-chart', formats: [:js], locals: {claims: @claims}
