%tr{id: team.id}
  %td
    - if can? :read, team
      = link_to( team.name, admin_team_path( team ) )
    - else
      = team.name
  %td
    - if team.leader
      - if can? :read, team.leader
        = link_to team.leader.name, admin_user_path( team.leader )
      - else
        = team.leader.name
  %td.hidden-xs= team.users.count
  %td.hidden-xs= team.skills.count
