- content_for :content_title do
  = @team.name
  = button_to 'Edit', edit_admin_team_path(@team), class: 'btn btn-xs btn-primary', form_class: 'form-inline', method: :get
  = button_to 'Delete team', admin_team_path(@team), method: :delete, class: 'btn btn-xs btn-danger', form_class: 'form-inline', data: {confirm: "Are you sure you want to delete the '#{@team.name}' team?"}

.row
  .col-md-6
    / Users list
    .box.box-primary
      .box-header.with-border
        %h3.box-title Members
        .box-tools
          %a{ href: admin_team_users_path(@team)}
            %small Change Staff
      .box-body.table-response
        - if ! @users.blank?
          %table.table
            %thead
              %tr
                %th Email
                %th Skills
                %th Skill match
                %th Training need
            %tbody
              - @users.each do |user|
                %tr
                  %td= link_to user.name, admin_user_path( user )
                  %td= Skill.for_user(user).acquired.count
                  %td
                    - if ! @skills.blank?
                      = render partial: 'shared/skill_match', locals: {user: user, skills: @skills}
                    - else
                      &mdash;
                  %td= Skill.for_user(user).training.count
        - else
          %p There are no members of this team
  .col-md-6
    / Skills list
    .box.box-warning
      .box-header.with-border
        %h3.box-title Recommended skills
        .box-tools
          %a{ href: admin_team_skills_path(@team) }
            %small Change skills
      .box-body.table-response
        - if ! @skills.blank?
          %table.table
            %thead
              %tr
                %th Skill
                %th Members with skill
                %th Training Needed
            %tbody
              - @skills.each do |skill|
                %tr
                  %td= skill.name
                  %td
                    - skill_count = skill.claims.select{ |c| @users.include? c.user and not [:training, :nr].include? c.level }.count
                    - if skill_count == 0
                      %strong.text-danger= skill_count
                    - elsif skill_count == 1
                      %strong.text-warning= skill_count
                    - else
                      = skill_count
                  %td= skill.claims.select{ |c| @users.include? c.user and c.level == :training }.count
        - else
          %p There are no recommended skills for this team

.row
  .col-md-12
    .box.box-success
      .box-header.with-border
        %h3.box-title Team Skills Matrix

      .box-body.table-response
        - if ! @skills.blank? && ! @users.blank?
          %table.table
            %thead
              %tr
                %th Member
                - @skills.each do |skill|
                  %th.rotated
                    %span= skill.name
            %tbody
              - @users.each do |user|
                %tr
                  %td= user.name
                  - @skills.each do |skill|
                    %td
                      - claim = user.claims.for_skill( skill ).first
                      - unless claim.blank?
                        %span
                          %i{class: "fa #{icon_for_claim(claim)}"}
          .box-footer
            .pull-right.text-muted
              Key:
              %span.label.label-default.label-inline
                %i.fa.fa-graduation-cap
                Training needed
              %span.label.label-default.label-inline
                %i.fa.fa-star-o
                Basic knowledge
              %span.label.label-default.label-inline
                %i.fa.fa-star-half-empty
                Good knowledge
              %span.label.label-default.label-inline
                %i.fa.fa-star
                Expert knowledge
        - else
          %p
            You must have assigned both skills and members to this team
            before you can see the skills matrix
